{% extends 'public/base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
Community
{% endblock %}
{% block content %}
<div class="container-fluid header bg-white p-0" style="margin-top: 3%">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="animated fadeIn mb-4" style="font-family: 'Oleo Script Swash Caps', cursive; font-size: 50px">Community
      </h1>
      <nav aria-label="breadcrumb animated fadeIn">
        <ol class="breadcrumb text-uppercase">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item text-body active" aria-current="page">
            Community
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-6 animated fadeIn">
      <img class="img-fluid" src="../../static/public/img/hannah-busing-Zyx1bK9mqmA-unsplash.jpg" alt="" />
    </div>
  </div>
</div>
<!-- Header End -->
<!-- Property List Start -->
<div class="container-xxl py-5">
  <div class="container">

    <div class="tab-content">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
          {% if community %}
          {% for com in community%}
          <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="property-item rounded overflow-hidden p-5">
              <div class="position-relative overflow-hidden">
                <a href=""><img class="img-fluid" src="{{com.get_img}}" alt=""></a>

              </div>
              <div class="p-4 pb-0">
                <p>{{com.content|safe}}</p>
              </div>
              <div>
                <h3>Click here for full article</h3>
                <a href="{{com.link}}">{{com.link}}</a>
              </div>


            </div>
          </div>

          {% endfor %}
          {% endif %}
        </div>
      </div>

    </div>
  </div>

  <div class="gostudy-pagination">
    {% if is_paginated %}
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="flaticon-left-arrow"></i></a>
      </li>


      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link">{{ i }}</a></li>
      {% else %}
      <li class="page-item" aria-current="page">

      </li>
      <li class="page-item"><a href="?page={{ i }}"> <span class="page-link">{{ i }}</span></a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a href="?page={{ page_obj.next_page_number }}" class="page-item page-link"><i
            class="flaticon-right-arrow"></i></a>
      </li>
      {% else %}


      {% endif %}
    </ul>
    {% endif %}


  </div>
</div>
<!-- Property List End -->




{% endblock %}